# =========================
# SSH / PRIVATE KEYS
# =========================
*.pem
*.ppk
judokey.pem

# =========================
# NODE MODULES
# =========================
node_modules/
**/node_modules/

# =========================
# BUILD FILES
# =========================
dist/
build/
frontend/dist/

# =========================
# ENV FILES (ÇOK ÖNEMLİ)
# =========================
.env
backend/.env
frontend/.env

# =========================
# LOG FILES
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# PM2
# =========================
.pm2/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE FILES
# =========================
.vscode/
.idea/

# =========================
# TEMP FILES
# =========================
*.swp
*.swo

# =========================
# ARCHIVE FILES
# =========================
*.zip
*.tar
*.rar